# ==================== 平台目标配置 ====================
CONFIG_TARGET_qualcommax=y                     # 启用高通AX系列平台架构
CONFIG_TARGET_qualcommax_ipq60xx=y             # 具体选择IPQ60xx芯片组平台
CONFIG_TARGET_MULTI_PROFILE=n                  # 启用多设备编译模式，一次生成多个设备固件，禁用多设备编译模式，仅编译兆能M2，大幅缩短编译时间

# ==================== 设备型号选择 ====================
# 注意：以下所有设备都基于Qualcomm IPQ60xx芯片平台
# 格式：CONFIG_TARGET_DEVICE_<平台>_<芯片>_DEVICE_<品牌>_<型号>=y
# -------- 消费级/家用路由器 --------
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_zn_m2=y                       # ZN M2 (兆能)

#====================彻底禁用无线功能====================
CONFIG_PACKAGE_kmod-ath11k=n
CONFIG_PACKAGE_kmod-ath11k-ahb=n
CONFIG_PACKAGE_kmod-ath11k-pci=n
CONFIG_PACKAGE_ath11k-firmware-ipq6018=n
CONFIG_PACKAGE_ath11k-firmware-ipq6018-ddwrt=n
CONFIG_PACKAGE_ath11k-firmware-qcn9074=n
CONFIG_PACKAGE_ath11k-firmware-qcn9074-ddwrt=n
CONFIG_PACKAGE_wpad-openssl=n
CONFIG_PACKAGE_hostapd-common=n

# ==================== 内核和驱动配置 ====================
# 使用NSS（网络子系统）固件版本11.4 NSS用于硬件加速网络转发
CONFIG_NSS_FIRMWARE_VERSION_11_4=y 
